<h3>Bienvenue sur Fromton</h3>

A que coucou {{ user.name }}!

Avant de pouvoir acceder au site, veuillez valider votre inscription en cliquant sur le lien suivant

<a href="{{ url('validateRegistration', {'token', user.token}) }}">Valider mon inscription !</a>.

A bientot !

<img src="{{ absolute_url(asset('images/svg/cheese.svg')) }}">