<h3>Bienvenue sur Fromton</h3>

A que coucou {{ user.username }}!

Avant de pouvoir acceder au site, veuillez valider votre inscription en cliquant sur le lien suivant

<a href="{{ url('user_registration_validate', {'userId': user.id, 'token': user.token}) }}">Valider mon inscription !</a>.

A bientot !

<img src="{{ absolute_url(asset('images/svg/cheese.svg')) }}">