<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/css/fromton.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        {% block navbar %}
            {% include 'components/navbar.html.twig' %}
        {% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            <script src="{{ asset('build/js/fromton.js') }}" type="text/javascript"></script>


            <script type="text/javascript">
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                toastr.{{ label }}("{{ message }}");
                {% endfor %}
                {% endfor %}
            </script>

        {% endblock %}
    </body>
</html>
