{% extends 'base.html.twig' %}

{% block body %}
    <section class="row">
        <div class="col flex-row bg-brown2">
            <div class="">
                <img src="{{ asset('build/assets/images/svg/mouse.svg') }}" alt="mouse">
            </div>
            <div class="">
                <img src="{{ asset('build/assets/images/svg/mouse.svg') }}" alt="mouse">
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </section>
{% endblock %}