* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    background-color: $gold;
    z-index: -1;
    opacity: 0.6;
  }
}

h1 {
  &::before {
    height: 25px;
    top: 22px;
  }
}

h2 {
  &::before {
    height: 22px;
    top: 18px;
  }
}

h3, h4 {
  &::before {
    height: 16px;
    top: 12px;
  }
}

a {
  &.link {
    color: $brown;
    text-decoration: underline;
    &:hover {
      color: lighten($brown, 15%);
    }
  }
}