{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid">
        <div class="error__404 row mt-5">
            <img src="https://res.cloudinary.com/ds8br8lm0/image/upload/v1540591876/fromton/404image.png" alt="404 Error">
            <h2 class="my-4">Erreur 404</h2>
            <h3>Page introuvable</h3>
        </div>
    </section>
{% endblock %}