.banner
    position: relative
    img
        display: block
        position: relative
        z-index: -1
        width: 100%
    h2
        color: #fff
        position: absolute
        text-align: right
        right: 5%
        font-size: 48px
        line-height: 1.5

        @media (max-width: 768px)
            font-size: 28px

        &::before
            height: 36px
            top: 36px

            @media (max-width: 768px)
                height: 16px
                top: 20px

        &.l1
            top: 34%
        &.l2
            top: 52%

.home
    &__cheese
        background: $beige
        position: relative
        height: 195px
        margin-bottom: 3rem
        z-index: 0
        &__img
            max-width: 100%
            max-height: 130px

        &__content
            margin: auto
            max-width: 250px

        &__title
            position: absolute
            right: 10px
            top: -15px
        &__rating
            display: flex
            align-items: end
            flex-direction: column
            position: relative
        &__link
            font-size: 18px