{% extends 'base.html.twig' %}

{% block title %}Communauté{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-4">Communauté</h1>

        <div class="users">
            {% for user in users %}
                {% if user != me %}
                    <div class="users__single">
                        {{ user.fullName }}
                        {% if user.fullName not in friends %}
                            <a href="{{ path('follow', {'id': user.id}) }}" class="link">Suivre cet utilisateur</a>
                        {% else %}
                            <span>Vous suivez ce fromageophile</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
