.like {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-image: url("../assets/images/svg/dislike.svg");
  transition-duration: 0.2s;
  transform: rotate(25deg);
  &:hover {
    background-image: url("../assets/images/svg/like.svg");
    transition-duration: 0.2s;
    transform: rotate(0deg);

    .cheeze {
      display: block;
      transform: translateX(10px) translateY(-50%);
      transition-duration: 1s;
    }
  }

  .cheeze {
    position: absolute;
    left: 26px;
    top: 50%;
    display: none;
    transform: translateY(-50%);
    font-size: 11px;
    width: 100px;
    color: $brown;
    transition-duration: 0.2s;
  }
}

.like_on {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-image: url("../assets/images/svg/like.svg");
  transition-duration: 0.2s;
  &:hover {
    background-image: url("../assets/images/svg/dislike.svg");
    transition-duration: 0.2s;
    transform: rotate(25deg);

    .cheeze {
      transform: translateX(-10px) translateY(+50%);
      transition-duration: 1s;
      opacity: 0;
    }
  }
    .cheeze {
    transform: translateY(-50%) translateX(10px);
    display: block;
    position: absolute;
    left: 26px;
    top: 50%;
    font-size: 11px;
    width: 100px;
    color: $brown;
  }
}

.like_loading {
  -webkit-animation:spin 300ms linear infinite;
  -moz-animation:spin 300ms linear infinite;
  animation:spin 300ms linear infinite;
  background-image: url("../assets/images/svg/like.svg");

  &:hover {
    background-image: url("../assets/images/svg/like.svg");
  }

  .cheeze {
    display: none;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }